<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mercadolibre.paymentapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".mvp.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".mvp.view.activities.AmountActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".mvp.view.activities.PaymentMethodActivity" />
        <activity android:name=".mvp.view.activities.CardIssuerActivity" />
        <activity android:name=".mvp.view.activities.InstallmentActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="8dc8ab17c07de49fe8f99314355db68923d12059" />
    </application>
</manifest>